{% load static %}
body {
    text-align: center;
}

/* green: #02C984
yellow: #FEDA02
blue: #262454
pink: #FE0386 */

/* INDEX  */
.hero-image {
    background: url("/static/images/elaine-casap-86020.jpg");
    height: 480px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.indexTxt {
  font-size: 100px;
}
/*////////////// TABLES  //////////////*/
/* marketplace.html */
.mTbl {
  color: black;
  border: black 2px solid;
  table-layout: fixed;
}
/* profile.html */
#profileTbl {
  color: red;
  border: black 2px solid;
  table-layout: fixed;
}

td {
  border: black solid 2px;
}

th {
  border: black solid 2px;
}

thead {
  font-weight: bold;
}
/*////////////////////////////*/
/* header.html */
#fontAwesome {
  font-size: 50px;
}

#header {
  font-family: 'Poppins', sans-serif;
}

.headerTitle {
  font-size: 60px;
}

#username {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: black;
}

#nav {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-decoration: none;
}

#userLink {
  text-decoration: none;
  color: black;
}

#userLink:hover, a:active {
  color: #262454;
}

#aboutLink {
  text-decoration: none;
  color: black;
}

#aboutLink:hover, a:active {
  color: #02C984;
}

#marketplaceLink {
  text-decoration: none;
  color: black;
}

#marketplaceLink:hover, a:active {
   color: #FEDA02;
}

#homeLink {
  text-decoration: none;
  color: black;
}

#homeLink:hover, a:active {
   color: #FE0386;
}

#logoutLink {
  text-decoration: none;
  color: black;
}

#logoutLink:hover, a:active {
   color: #1C3154;
}

footer {
  font-family: 'Poppins', sans-serif;
}
