{% load static %}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

body {
    text-align: center;
}

/* The hero image */
.hero-image {
    /* The image used */
    background: url("/static/images/elaine-casap-86020.jpg");
    /*background: url("/static/images/elaine-casap-86020.jpg") 50% 0 no-repeat fixed;*/

    /* Set a specific height */
    height: 480px;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#profileTbl {
  color: red;
  border: black 2px solid;
}

.mTbl {
  color: black;
  border: black 2px solid;
}

#fontAwesome {
  border: red 2px solid;
  font-size: 50px;
}

#header {
  border: black 2px solid;
}

#profileHeader {
  border: purple 2px solid;
}

#username {
  border: purple 2px solid;
  display: flex;
  flex-direction: column;
}

#navBar {
  border: black 2px solid;
}

#nav {
  border: black 2px solid;
  display: flex;
  flex-direction: column;
}

#user {
  border: red 2px solid;
}

#empty {
  border: red 2px solid;
}
