{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  {% include "./header.html" %}
  <div id="about" class="container-fluid">
    <h1 class="aboutTitle">People behind Neighborful</h1>
    <div class="aboutUnderline"></div>
    <div class="row no-gutters" id="aboutPpl">
      <div class="col-3" id="neo">
        <h2 class="neoTitle">Neo</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="neoGithub" href="https://github.com/njang">Github</a>
          <a class="neoLinkedin" href="https://www.linkedin.com/in/neojang/">Linkedin</a>
      </div>
      <div class="col-1"></div>
      <div class="col-3" id="tess">
        <h3 class="tessTitle">Tess</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="tessGithub" href="https://github.com/TessACraig89">Github</a>
          <a class="tessLinkedin" href="https://www.linkedin.com/in/tessashleycraig/">Linkedin</a>
      </div>
      <div class="col-1"></div>
      <div class="col-3" id="aleena">
        <h4 class="aleenaTitle">Aleena</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="aleenaGithub" href="https://github.com/aleenamad">Github</a>
          <a class="aleenaLinkedin" href="https://www.linkedin.com/in/aleena-madni/">Linkedin</a>
      </div>
    </div>
  </div>
  {% include "./footer.html" %}
{% endblock %}
