<!-- <html>
<head>
  
  <title>Google Maps Multiple Markers</title>
</head>
	<body> -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}		
{% include "./header.html" %}
	<div id="map" style="height: 540px; width: 960px; margin: auto">
	</div>
  	<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script type="text/javascript">
	    var locations = [
	      ['Shipe Neighborhood Park', 30.307208, -97.727505, 4],
	      ['Trinity Church', 30.303034, -97.731454, 5],
	      ['Hyde Park Montessori', 30.303604, -97.728139, 3],
	      ['AHB Community School', 30.303321, -97.731250, 2],
	      ['Hyde Park Baptist Church', 30.302583, -97.731817, 1]
	    ];

	    var map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 16,
	      center: new google.maps.LatLng(30.305295, -97.730565),
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    });

	    var infowindow = new google.maps.InfoWindow();

	    var marker, i;

	    for (i = 0; i < locations.length; i++) { 
	      marker = new google.maps.Marker({
	        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	        map: map
	      });

	      google.maps.event.addListener(marker, 'click', (function(marker, i) {
	        return function() {
	          infowindow.setContent(locations[i][0]);
	          infowindow.open(map, marker);
	        }
	      })(marker, i));
	    }
	  </script>
{% include "./footer.html" %}
{% endblock %}

<!-- </body>
</html> -->