{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Marketplace</h1>

<table style='margin: auto;'>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Seller</th>
	</tr>
	{% for produce in produces %}
	<tr>
		<td><a href='/{{ produce.id}}'>{{ produce.name }}</a></td>
		<td>{{ produce.price }}</td>
		<td>{{ produce.quantity }}</td>
		<td>
			{% if produce.seller == user %}
				<a href='/user/{{ produce.seller.username }}'>{{ produce.seller.first_name }}</a>
			{% else %}
				{{ produce.seller.first_name }}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}

