{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% include "./header.html" %}
<h1>{{ user.first_name }}'s profile:</h1>

<a href='/sell'><button>Sell</button></a>
<a href='/marketplace'><button>Buy</button></a>
<h2 class="profileBalance">My Balance: 100</h2>
<h3>Currently selling</h3>
<table class="profileTbl">
  <thead>
    <tr>
      <td>Produce</td>
      <td>Available</td>
      <td>Credit</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tomatoes</td>
      <td>12 oz</td>
      <td>3.0</td>
    </tr>
    <tr>
      <td>Lettuce</td>
      <td>5 oz</td>
      <td>2.0</td>
    </tr>
<!-- Neo Code  -->
      {% for produce in produces %}
      <a href="/{{produce.id}}">
        <h4>{{ produce.name }}</h4>
      </a>
<!--  -->
  </tbody>
</table>

{% endfor %}
{% include "./footer.html" %}
{% endblock %}
