{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% include './header.html' %}
<div class="container-fluid full-width" id="show">
    <h2>{{ produce.name}}</h1>
    <p>Price: {{ produce.price }}</p>
    <p>Quantity: {{ produce.quantity }}</p>
    {% if produce.seller == user %}
    	<p><a href='/edit/{{produce.id}}'><button class='btn btn-success'>Edit</button></a></p>
    	<!-- Button to open the delete confirmation Modal -->
        <p><button class='btn btn-danger' type='button' data-toggle='modal' data-target='#modalDeleteConfirm'>Remove</button></p>
	{% else %}
    	<p>Seller: {{ produce.seller.first_name }}</p>
        <!-- Button to open the buy confirmation Modal -->
        <p><button class='btn btn-success' data-toggle='modal' data-target='#modalBuyConfirm'>Buy</button></p>
	{% endif %}

    <!-- The Modal for Buy confirmation -->
    <div class='modal fade' id='modalBuyConfirm'>
      <div class='modal-dialog'>
        <div class='modal-content'>

          <!-- Modal Header -->
          <div class='modal-header'>
            <h4 class='modal-title'>{{ produce.name }}</h4>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
          </div>

          <!-- Modal body -->
          <div class='modal-body'>
            Would you like to purchase this item?
          </div>

          <!-- Modal footer -->
          <div class='modal-footer'>
            <a href='buy/'><button type='button' class='btn btn-success'>Buy</button></a>
            <button type='button' class='btn btn-basic' data-dismiss='modal'>Cancel</button>
          </div>

        </div>
      </div>
    </div>

    <!-- The Modal for Delete confirmation -->
    <div class='modal fade' id='modalDeleteConfirm'>
      <div class='modal-dialog'>
        <div class='modal-content'>

          <!-- Modal Header -->
          <div class='modal-header'>
            <h4 class='modal-title'>{{ produce.name }}</h4>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
          </div>

          <!-- Modal body -->
          <div class='modal-body'>
            Are you sure to remove this listing?
          </div>

          <!-- Modal footer -->
          <div class='modal-footer'>
            <a href='/delete/{{produce.id}}'><button type='button' class='btn btn-danger'>Remove</button></a>
            <button type='button' class='btn btn-basic' data-dismiss='modal'>Cancel</button>
          </div>

        </div>
      </div>
    </div>
</div>
{% include './footer.html' %}
{% endblock %}
